body {
    font-family: 'Raleway', sans-serif;
    min-width: 992 px;
    max-width: 1400px;
}

header {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}

.logo_booki_header {
    margin-right: auto;
    width: 80px;
    height: 20px;
    padding-top: 15px;
}

.div_logo_booki_header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    height: 70px;
    padding-right: 10px;
}

.header_button {
    line-height: 85px;
    width: 125px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Attention : bordure bleue au dessus en desktop, mais en dessous en mobile ! */
.header_button:hover {
    border-top: solid 5px #0065FC;
    color: #0065FC;
}

