body {
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}


/* Début de page : "header" */
header {
    display: flex;
    flex-direction: row;
}

.logo_booki_header {
    width: 62px;
    height: 19px;
}

.div_logo_booki_header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 60px;
    margin-top: 44px;
}

.nav_header {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    margin-left: 0;
    width: 372px;
    height: auto;
}

.ul_header_bouton {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 0;
}

.li_header_bouton {
    display: flex;
    width: 50%;
    height: 50%;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

.ancre_header_bouton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    height: 100%;
    width: 186px;
    color: black;
    border-top: solid 2px transparent;
}

.ancre_header_bouton:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
}


/* Code CSS du "main", le corps de texte (sections : "Formulaire", 
"Hébergements", "Les plus populaires" & "Activités à Marseille") */
main {
    display: flex;
    flex-direction: column;
}


/* Ici : section "Formulaire" */
h1 {
    font-size: 26px;
}

h2 {
    font-size: 19px;
    font-weight: normal;
}

.h2_style_gras {
    font-weight: bold;
}

h3 {
    font-weight: normal;
}

.h2_formulaire_de_recherche {
    margin-top: -10px;
}

.h1_section_formulaire_de_recherche {
    padding-left: 25px;
    padding-right: 25px;
}

.section_formulaire_de_recherche {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}

form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.div_icone_recherche {
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px #F2F2F2;
}

.formulaire_champ_de_saisie {
    height: 49px;
    width: 332px;
    font-weight: bold;
    font-size: 18px;
    border: solid 1px #F2F2F2;
    padding-left: 17px;
}

.formulaire_bouton_rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    border: solid 1px #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    line-height: 21px;
    cursor: pointer;
}

.icone_loupe_rechercher {
    display : none;
}

.formulaire_bouton_rechercher:active {
    background-color: blue;
}

.section_filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2_formulaire_filtres {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    width: 54px;
    height: 21px;
    margin-left: 7px;
    color: black;
}

.commentaire_bouton_formulaire_filtres {
    width: fit-content;
    margin-left: 10px;
    color: black;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.ensemble_boutons_formulaire_filtres {
    display: flex;
    flex-direction: row;
}

.bouton_filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    width: fit-content;
    height: 50px;
    color: #0065FC;
    font-size: 22px;
    white-space: nowrap;
}

.bouton_filtres:hover {
    background-color: #DEEBFF;
}

.formulaire_div_de_fin {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    margin-bottom: 39px;
    margin-left: 4px;
    align-items: center;
}

.div_vignette_info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    width: 24px;
    height: 24px;
}

.vignette_info {
    color: #0065FC;
    font-size: 14px;
}

.commentaire_div_de_fin {
    margin-left: 11px;
    font-weight: 400;
    font-size: 16px;
}

.section_hebergements_et_populaires {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 705px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Ici : section "Hébergements" */
.section_hebergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 70%;
    padding-top: 25px;
    padding-bottom: 30px;
    min-width: 800px;
}

.div_toutes_les_cartes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.div_serie_de_trois_cartes {
    display: flex;
    flex-direction: row;
    width: auto;
}

.titre1_section {
    margin-left: 5%;
    font-weight: 700;
    font-size: 26px;
}

.carte_hebergements {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    width: 222px;
    height: fit-content;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
}

.carte_hebergements:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carte_clic {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.image_carte_hebergement {
    border-radius: 20px 20px 0 0;    
    width: 100%;
    max-width: 100%;
    height: 120px;
    object-fit: cover;
}

.carte_description {
    display: flex;
    flex-direction: column;
    text-indent: 10px;
    margin-top: -4px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    line-height: 2px;
    width: 100%;
    font-size: 13px;
}

.€_gras {
    font-weight: bold;
}

.etoiles_en_bleu {
    color: #0065FC;
    display: flex;
    align-items: flex-start;
    margin-top: 7px;
    margin-bottom: 8px;
    padding-left: 10px;
    text-indent: 1px;
}

.etoiles_en_gris {
    color: #F2F2F2;
}

.lien_hebergements_afficher_plus {
    text-decoration: none;
    color: black;
    padding-top: 15px;
    margin-left: 44px;
    font-weight: bold;
    font-size: 18px;
}


/* Ici : section "Les plus populaires" */
.section_les_plus_populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    min-width: 390px;
    margin-left: 20px;
    padding-top: 25px;
}

.div_titre_les_plus_populaires_avec_icone_courbe_montante {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 42px;
    font-weight: 700;
}

.div_icone_courbe_montante {
    color: #0065FC;
    display: flex;
    align-items: center;
}

.conteneur_cartes_les_plus_populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.carte_clic_populaires {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
}

.carte_les_plus_populaires {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 343px;
    height: fit-content;
    margin: 15px;
}

.carte_les_plus_populaires:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image_carte_plus_populaires {
    border-radius: 20px 0 0 20px;
    width: 40%;
    min-width: 40%;
    height: 158px;
    object-fit: cover;
}

.texte_de_description_des_cartes_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80%;
    line-height: 5px;
    padding-left: 10px;
}

.h2_texte_de_description_des_cartes_plus_populaires {
    font-weight: bold;
    line-height: 22px;
    height: fit-content;
    margin-bottom: -2px;
}

.description_cartes_plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    width: 60%;
    background-color: white;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    height: 158px;
}

.etoiles_en_bleu_populaires {
    color: #0065FC;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    height: 30px;
    line-height: 0;
    text-indent: 1px;
    margin-bottom: 8px;
    padding-left: 10px;
}


/* Ici : section "Activités à Marseille" */
.Activites_a_Marseille {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 1220px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 55px;
}

#Activites {
    font-weight: 700;
    font-size: 26px;
}

.ensemble_cartes_Activites_a_Marseille {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.carte_clic_Activites_Marseille {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.carte_Activites_a_Marseille {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.3s;
    width: 22%;
    height: fit-content;
}

.carte_Activites_a_Marseille:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.photo_Marseille {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 350px;
}

.description_carte_Activites_a_Marseille {
    width: 100%;
    border-radius: 0 0 20px 20px;
    height: 56px;
    text-indent: 16px;
    background-color: white;
}

.h2_media_queries {
    font-weight: bold;
}


/* Fin du corps de texte (main) */
/* Ici : pied de page (footer) */
footer {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #F2F2F2;
    height: 225px;
    min-width: 1220px;
}

.footer_titre {
    font-weight: bold;
}

.footer_section {
    padding-left: 70px;
    padding-top: 30px;
    flex: 1;
}

.footer_liste {
    list-style: none;
    padding-left: 0;
    line-height: 35px;
}

.footer_lien {
    text-decoration: none;
    color: black;
}




/************** Partie Responsive Design **************/
/******************************************************/


/* Ici : media queries pour la partie tablette */
@media screen and (max-width: 991px) {

    body {
        width: auto;
    }

    header {
        justify-content: space-between;
        width: 100%;
    }

    .nav_header {
        margin-right: 0;
    }

    .ancre_header_bouton {
        width: 130px;
    }

    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .h1_section_formulaire_de_recherche {
        padding-left: 0;
        padding-right: 0;
    }

    .section_formulaire_de_recherche {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 95%;
    }

    .h2_formulaire_filtres {
        margin-right: 10px;
    }

    .ensemble_boutons_formulaire_filtres {
        width: auto;
        justify-content: flex-start;
    }

    .bouton_filtres {
        margin: 0 10px;
        padding-left: 14px;
        padding-right: 14px;
        width: fit-content;
        height: 40px;
        flex-basis: auto;
        white-space: nowrap;
        font-size: 14px;
    }

    .commentaire_bouton_formulaire_filtres {
        font-size: 14px;
    }

    .section_filtres {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        align-items: baseline;
    }

    .section_hebergements_et_populaires {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        justify-content: center;
    }

    .section_hebergements {
        width: 100%;
        min-width: 735px;
    }

    .div_serie_de_trois_cartes {
        width: 100%;
        justify-content: space-between;
    }

    .carte_hebergements {
        width: 29%;
        min-width: 20%;
    }

    .h2_style_gras {
        font-size: 16px;
    }

    .section_les_plus_populaires {
        width: 100%;
        min-width: 735px;
        margin-top: 45px;
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .div_titre_les_plus_populaires_avec_icone_courbe_montante {
        padding-left: 0;
        width: auto;
    }

    .conteneur_cartes_les_plus_populaires {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        justify-content: center;
    }
    
    .carte_les_plus_populaires {
        width: 29%;
        min-width: 20%;
    } 

    .h2_texte_de_description_des_cartes_plus_populaires {
        font-size: 16px;
    }

    .h3_texte_description_carte_plus_populaires {
        line-height: normal;
        font-size: 13px;
    }

    .Activites_a_Marseille {
        width: 95%;
        min-width: 735px;
        margin-bottom: 70px;
    }

    #Activites {
        text-indent: 5px;
        margin-bottom: 30px;
    }

    .carte_Activites_a_Marseille {
        width: 20%;
    }

    .photo_Marseille {
        height: 200px;
    }
    
    .description_carte_Activites_a_Marseille {
        height: 52px;
        text-indent: 0;
        display: flex;
        align-items: center;
    }

    .h2_media_queries {
        font-size: 14px;
        padding-left: 14px;
    }
    
    footer {
        width: 100%;
        min-width: 735px;
    }

    .footer_section {
        padding-left: 50px;
    }
}


/* Ici : media queries pour la partie mobile */
@media screen and (max-width: 767px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .logo_booki_header {
        width: 100px;
        height: 30px;
    }

    .div_logo_booki_header {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    
    .nav_header {
        align-items: center;
        width: 100%;
        height: fit-content;
        margin-right: 0;
        margin-left: 0;
    }

    .ul_header_bouton {
        width: 100%;
        height: 70px;
    }

    .li_header_bouton {
        width: 50%;
        height: 100%;
    }
    
    .ancre_header_bouton {
        width: 100%;
        height: 100%;
        line-height: 70px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: black;
        border-bottom: solid 2px #d9d9d9;
        border-top: none;
    }

    .ancre_header_bouton:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;
    }

    main {
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .h1_section_formulaire_de_recherche {
        width: 90%;
        margin-left: 20px;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .div_titres_section_formulaire_de_recherche {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

    .h2_formulaire_de_recherche {
        margin-left: 20px;
    }

    .section_formulaire_de_recherche {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
    }

    form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .div_icone_recherche {
        width: 115px;
        min-width: 14%;
    }

    .formulaire_bouton_rechercher {
        min-width: 14%;
    }

    .icone_loupe_rechercher {
        display : block;
    }

    .texte_bouton_rechercher {
        display: none;
    }

    .section_filtres {
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }

    .h2_formulaire_filtres {
        margin-left: 10px;
        margin-right: 0;
    }

    .ensemble_boutons_formulaire_filtres {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .bouton_filtres {
        margin-right: 15px;
        margin-left: 15px;
        padding: 3px;
        padding-left: 3%;
        width: 36%;
        height: 45px;
        flex-basis: none;
        font-size: 13px;
        font-weight: bold;
        min-width: 110px;
        max-width: none;
        white-space: initial;
        margin-bottom: 15px;
        justify-content: flex-start;
    }

    .formulaire_div_de_fin {
        margin-top: 0;
        margin-bottom: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: inline-flex;
        align-items: flex-start;
        height: fit-content;
    }

    .div_vignette_info {
        margin-top: 9px;
    }

    .section_hebergements_et_populaires {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .section_les_plus_populaires {
        width: auto;
        min-width: auto;
        height: 715px;
        border-radius: 0;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .conteneur_cartes_les_plus_populaires {
        display: flex;
        flex-direction: column;
    }

    .div_titre_les_plus_populaires_avec_icone_courbe_montante {
        padding-left: 0;
    }

    .div_icone_courbe_montante {
        font-size: 20px;
    }

    .carte_les_plus_populaires {
        display: flex;
        flex-direction: row;
        width: 80%;
        max-width: 470px;
        height: 158px;
        margin: 15px;
    }

    .description_cartes_plus_populaires {
        max-height: 100%;
    }

    .texte_de_description_des_cartes_plus_populaires {
        line-height: normal;
        max-height: 100%;
        font-size: 14px;
    }

    .section_hebergements {
        background-color: initial;
        border-radius: 0;
        width: auto;
        padding-top: 10px;
        padding-bottom: 30px;
        min-width: auto;
    }

    .div_toutes_les_cartes {
        width: 100%;
        height: 100%;
    }

    .div_serie_de_trois_cartes {
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
    }
    
    .carte_hebergements {
        width: 80%;
        max-width: 470px;
        height: 220px;
        margin: 15px;
    }

    .carte_clic {
        width: 100%;
        height: 100%;
    }    

    .image_carte_hebergement {
        width: auto;
        height: 65%;
        object-fit: cover;
    }
    
    .carte_description {
        width: auto;
        height: 35%;
        font-size: 12px;
        line-height: 0;
        padding-top: 2px;
        padding-left: 6px;
    }

    .h2_style_gras {
        font-size: 17px;
    }

    .lien_hebergements_afficher_plus {
        display: none;
    }

    .Activites_a_Marseille {
        width: 100%;
        min-width: auto;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }

    #Activites {
        text-indent: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
        max-width: 130px;
    }

    .ensemble_cartes_Activites_a_Marseille {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .carte_Activites_a_Marseille {
        width: 80%;
        max-width: 470px;
        height: fit-content;
        margin: 15px;
    }

    .photo_Marseille {
        height: 160px;
    }
    
    .description_carte_Activites_a_Marseille {
        height: 60px;
    }

    .h2_media_queries {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 30px;
        min-width: auto;
    }


}


